$priColor:grey;
$secoColor:white;
$thirdColor:rgba(0, 0, 0, 0.849); 
$foColor:rgb(190, 190, 190); 
// Colors 

$priShadow:0px 0px 30px rgba(0, 0, 0, 0.205); 
$secoShadow:0px 0px 30px rgba(0, 0, 0, 0.534);
// Shadows